{{ partial "header.html" .}}
    <div class="card-group" id="adCardList">
      {{ range $.Site.Data.ads.all.items }}
      <div class="card">
        <img class="card-img-top" data-src="{{.image}}" src="/images/loading.gif" >
            <div class="card-block">
              <p class="card-text">
                <p>{{.title}}<small class="text-muted">{{.desc}}</small>
                </p>
                <p>
                  <a href="{{.link}}" class="card-link text-danger float-left">￥{{.price}}</a>
                  <a href="{{.link}}" class="card-link text-danger float-right">领{{.coupon}}元优惠券</a> 
                </p>
            </div>
     </div>
  {{end}}
</div> 
<script> 
var lazyLoadImg = new LazyLoadImg({
                el: document.querySelector('#adCardList'),
                mode: 'diy', //默认模式，将显示原图，diy模式，将自定义剪切，默认剪切居中部分
                time: 300, // 设置一个检测时间间隔
                complete: true, //页面内所有数据图片加载完成后，是否自己销毁程序，true默认销毁，false不销毁
                position: { // 只要其中一个位置符合条件，都会触发加载机制
                    top: 0, // 元素距离顶部
                    right: 0, // 元素距离右边
                    bottom: 0, // 元素距离下面
                    left: 0 // 元素距离左边
                },
                diy: { //设置图片剪切规则，diy模式时才有效果
                    backgroundSize: 'cover',
                    backgroundRepeat: 'no-repeat',
                    backgroundPosition: 'center center'
                },
                before: function () { // 图片加载之前执行方法
                },
                success: function (el) { // 图片加载成功执行方法
                    // el.classList.add('success')
                },
                error: function (el) { // 图片加载失败执行方法
                    el.src = './images/error.png'
                }
            }) 
</script>

{{ partial "footer.html" .}}